#navBar {
  height: 50px;
  background: green;
  margin: -8px;
}


#navSearch {
  float: right;
  padding-top: 15px;
}


#welcome {
  text-align: center;
  margin-top: 30px;
  font-family: helvetica;
  color: #008B8B;
  font-style: italic;
  font-size: 30px;
  display: block;
}

#container {
  height: 400px;
  width: 100px;
  margin: 0 auto;
}

#box1 {
  min-height: 50px;
  width: 110px;
  border: 1px solid blue;
  border-radius: 5px;
  text-align: center;
  display: inline-block;
}

#box2 {
  min-height: 50px;
  width: 110px;
  border: 1px solid red;
  border-radius: 5px;
  text-align: center;
  display: inline-block;
}


#box1:hover {
  background-color: pink;
}

#box2:hover {
  background-color: orange;
}

footer{
  background-color: orange;
  position: relative;
  margin: -8px;

}