body {
  font-family: helvetica;
  font-weight: none;
  font-size: 20px;
}


#navBar {
  height: 50px;
  background: green;
  margin: -8px;
}


#navSearch {
  float: right;
  padding-top: 15px;
}


#welcome {
  text-align: center;
  margin-top: 30px;
  font-family: helvetica;
  color: #008B8B;
  font-style: italic;
  font-size: 30px;
  display: block;
}

#container {
  height: 400px;
  width: 100px;
  display: inline;
  margin: 0 auto;
}

#chinese {
  min-height: 50px;
  width: 160px;
  border: 1px solid blue;
  border-radius: 5px;
  text-align: center;
}

#indian {
  min-height: 50px;
  width: 160px;
  border: 1px solid red;
  border-radius: 5px;
  text-align: center;
  margin: 0 auto;
}


#chinese:hover {
  background-color: pink;
}

#indian:hover {
  background-color: orange;
}

#mexican {
  min-height: 50px;
  width: 160px;
  border-radius: 5px;
  text-align: center;
  border: 1px solid green;
}

#mexican:hover {
  background-color: red;
}



footer{
  background-color: orange;
  position: relative;
  margin: -8px;

}

.footerList {
  list-style: none;
  display: inline;
}

.footerList li {
  display: inline;
  margin:3%;
  font-size: 23px;
}